<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>paytalk</name>
    <displayName><![CDATA[Lipa Na M-PESA]]></displayName>
    <version><![CDATA[2.0.6]]></version>
    <description><![CDATA[paytalk Lipa Na M-PESA Module(STK Push, C2B)]]></description>
    <author><![CDATA[simiyu samuel]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall Mpesapay module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>